[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
crispy-bootstrap4 = "*"
django-crispy-forms = "*"
celery = "*"

[dev-packages]
black = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
