{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="hero" class="hero overlay">
<!--    <div class="content-section">-->
    <div class="hero-login col-sm-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Sign In</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn" type="submit">Sign In</button>
            </div>
            <div class="form-group">
               <a href="{% url 'reset-password' %}">Forgot password?</a>
                <br>
               <a href="{% url 'register' %}">Do not have an account?</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
