{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="hero" class="hero overlay">
    <div class="hero-login col-sm-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Provide New Password</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
