.accordion {
    align: center;
    margin: auto;
    margin-top: auto;
    position: relative;
    /*top: 20%;*/
}
.accordion-item {
    border-bottom: 1px solid #ccc;
}
.accordion-item:last-child {
    border-bottom: none;
}
.accordion-header {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-header:hover {
    background-color: #ddd;
}
.accordion-content {
    display: none;
    max-width: 90%;
    max-height: 70%;
    padding: 10px;
}
.accordion-button {
    border: 50px;
    background-color: ffffff;
    cursor: pointer;
}
