.form-group + .form-group {
    margin-top: 10px;
}

.form-check {
    margin: 0;
}

.form-check + .form-check,
.radio-btn + .radio-btn {
    margin-top: 15px;
}

.form-check [type="checkbox"]:not(:checked) + label,
.form-check [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.form-check [type="checkbox"]:not(:checked) + label:before,
.form-check [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #f5f5f8;
    border-radius: 3px;
    box-shadow: none;
    transition: border-color .2s;
    -webkit-transition: border-color .2s;
    -ms-transition: border-color .2s;
    -o-transition: border-color .2s;
    -ms-transition: border-color .2s;
}

.form-check [type="checkbox"]:not(:checked) + label:after,
.form-check [type="checkbox"]:checked + label:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    font-size: 15px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    color: #fff;
    background-color: #26292c;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
      transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    -ms-transition: opacity .2s;
}

.form-check [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

.form-check [type="checkbox"]:checked + label:after {
    opacity: 1;
}

.form-check [type="checkbox"]:disabled:not(:checked) + label:before,
.form-check [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

.form-check [type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
.form-check [type="checkbox"]:disabled + label {
    color: #aaa;
}

.form-check [type="checkbox"]:checked:focus + label:before,
.form-check [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted #26292c;
}

.form-check [type="checkbox"]:not(:checked) + label:hover:before,
.form-check [type="checkbox"]:checked + label:hover:before {
    border: 1px solid #26292c;
}

.form-check-label {
    font-weight: 500;
    font-size: 14px;
}

.logout-form {
    display: inline;
}
.logout-form button {
    background: none;
    border: none;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    cursor: pointer;
    color: #26292c;
    font-size: 16px;
    margin-top: 1px;
}

.logout-form button:focus,
.logout-form button:hover {
    color: #ffffff;
    outline: 0 none;
    text-decoration: none;
}
